<form action="/users/contact" method="POST">
  <input
    type="text"
    placeholder="votre mail"
    name="mailinput"
    id="mailinput"
  /><br />
  <input
    type="text"
    placeholder="le sujet de votre mail"
    name="sujetinput"
    id="sujetinput"
  /><br />
  <input
    type="text"
    placeholder="votre message"
    id="messageinput"
    name="messageinput"
  /><br />
  <button>Envoyer -></button>
</form>
