<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="contact.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="titre">Stay in touch</h1>
    <img id="photo" src="images/photocontact.png" alt="" />
    <% include ./contactform.ejs %>
    <p>
      mais aussi: <br />
      x 06 09 63 05 43 <br />
      x lena.defirmas@gmail.com
    </p>
    <ul>
      <li>linkedin</li>
      <li>github</li>
      <li>instagram</li>
      <li>pinterest</li>
    </ul>
  </body>
</html>
