<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <svg
      id="svg1"
      width="652"
      height="237"
      viewBox="0 0 652 237"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="path1"
        d="M43.2305 53H32.6836V31.0625H12.1172V53H1.57031V1.8125H12.1172V22.5547H32.6836V1.8125H43.2305V53ZM69.3164 53.7031C63.7383 53.7031 59.1914 51.9922 55.6758 48.5703C52.1836 45.1484 50.4375 40.5898 50.4375 34.8945V33.9102C50.4375 30.0898 51.1758 26.6797 52.6523 23.6797C54.1289 20.6562 56.2148 18.3359 58.9102 16.7188C61.6289 15.0781 64.7227 14.2578 68.1914 14.2578C73.3945 14.2578 77.4844 15.8984 80.4609 19.1797C83.4609 22.4609 84.9609 27.1133 84.9609 33.1367V37.2852H60.7383C61.0664 39.7695 62.0508 41.7617 63.6914 43.2617C65.3555 44.7617 67.4531 45.5117 69.9844 45.5117C73.8984 45.5117 76.957 44.0938 79.1602 41.2578L84.1523 46.8477C82.6289 49.0039 80.5664 50.6914 77.9648 51.9102C75.3633 53.1055 72.4805 53.7031 69.3164 53.7031ZM68.1562 22.4844C66.1406 22.4844 64.5 23.1641 63.2344 24.5234C61.9922 25.8828 61.1953 27.8281 60.8438 30.3594H74.9766V29.5508C74.9297 27.3008 74.3203 25.5664 73.1484 24.3477C71.9766 23.1055 70.3125 22.4844 68.1562 22.4844ZM104.473 38.6211L111.504 14.9609H122.402L107.109 58.9062L106.266 60.9102C103.992 65.8789 100.242 68.3633 95.0156 68.3633C93.5391 68.3633 92.0391 68.1406 90.5156 67.6953V59.9961L92.0625 60.0312C93.9844 60.0312 95.4141 59.7383 96.3516 59.1523C97.3125 58.5664 98.0625 57.5938 98.6016 56.2344L99.7969 53.1055L86.4727 14.9609H97.4062L104.473 38.6211ZM121.031 48.0078C121.031 46.3906 121.57 45.0781 122.648 44.0703C123.75 43.0625 125.121 42.5586 126.762 42.5586C128.426 42.5586 129.797 43.0625 130.875 44.0703C131.977 45.0781 132.527 46.3906 132.527 48.0078C132.527 49.6016 131.988 50.9023 130.91 51.9102C129.832 52.8945 128.449 53.3867 126.762 53.3867C125.098 53.3867 123.727 52.8945 122.648 51.9102C121.57 50.9023 121.031 49.6016 121.031 48.0078ZM12.7852 137H2.23828V85.8125H12.7852V137ZM24.8438 101.527L20.0625 98.75C22.0781 95.5859 23.1211 92.3164 23.1914 88.9414V83H31.2773V88.4492C31.2773 90.5586 30.6914 92.8438 29.5195 95.3047C28.3477 97.7656 26.7891 99.8398 24.8438 101.527ZM47.2734 98.9609L47.5898 103.215C50.2852 99.9102 53.9297 98.2578 58.5234 98.2578C63.4219 98.2578 66.7852 100.191 68.6133 104.059C71.2852 100.191 75.0938 98.2578 80.0391 98.2578C84.1641 98.2578 87.2344 99.4648 89.25 101.879C91.2656 104.27 92.2734 107.879 92.2734 112.707V137H82.0781V112.742C82.0781 110.586 81.6562 109.016 80.8125 108.031C79.9688 107.023 78.4805 106.52 76.3477 106.52C73.3008 106.52 71.1914 107.973 70.0195 110.879L70.0547 137H59.8945V112.777C59.8945 110.574 59.4609 108.98 58.5938 107.996C57.7266 107.012 56.25 106.52 54.1641 106.52C51.2812 106.52 49.1953 107.715 47.9062 110.105V137H37.7461V98.9609H47.2734ZM129.258 128.527H151.652V137H118.711V85.8125H129.258V128.527ZM174.574 137.703C168.996 137.703 164.449 135.992 160.934 132.57C157.441 129.148 155.695 124.59 155.695 118.895V117.91C155.695 114.09 156.434 110.68 157.91 107.68C159.387 104.656 161.473 102.336 164.168 100.719C166.887 99.0781 169.98 98.2578 173.449 98.2578C178.652 98.2578 182.742 99.8984 185.719 103.18C188.719 106.461 190.219 111.113 190.219 117.137V121.285H165.996C166.324 123.77 167.309 125.762 168.949 127.262C170.613 128.762 172.711 129.512 175.242 129.512C179.156 129.512 182.215 128.094 184.418 125.258L189.41 130.848C187.887 133.004 185.824 134.691 183.223 135.91C180.621 137.105 177.738 137.703 174.574 137.703ZM173.414 106.484C171.398 106.484 169.758 107.164 168.492 108.523C167.25 109.883 166.453 111.828 166.102 114.359H180.234V113.551C180.188 111.301 179.578 109.566 178.406 108.348C177.234 107.105 175.57 106.484 173.414 106.484ZM174.328 83H185.402L175.664 93.8984H167.402L174.328 83ZM205.371 98.9609L205.688 103.355C208.406 99.957 212.051 98.2578 216.621 98.2578C220.652 98.2578 223.652 99.4414 225.621 101.809C227.59 104.176 228.598 107.715 228.645 112.426V137H218.484V112.672C218.484 110.516 218.016 108.957 217.078 107.996C216.141 107.012 214.582 106.52 212.402 106.52C209.543 106.52 207.398 107.738 205.969 110.176V137H195.809V98.9609H205.371ZM258.422 137C257.953 136.086 257.613 134.949 257.402 133.59C254.941 136.332 251.742 137.703 247.805 137.703C244.078 137.703 240.984 136.625 238.523 134.469C236.086 132.312 234.867 129.594 234.867 126.312C234.867 122.281 236.355 119.188 239.332 117.031C242.332 114.875 246.656 113.785 252.305 113.762H256.98V111.582C256.98 109.824 256.523 108.418 255.609 107.363C254.719 106.309 253.301 105.781 251.355 105.781C249.645 105.781 248.297 106.191 247.312 107.012C246.352 107.832 245.871 108.957 245.871 110.387H235.711C235.711 108.184 236.391 106.145 237.75 104.27C239.109 102.395 241.031 100.93 243.516 99.875C246 98.7969 248.789 98.2578 251.883 98.2578C256.57 98.2578 260.285 99.4414 263.027 101.809C265.793 104.152 267.176 107.457 267.176 111.723V128.211C267.199 131.82 267.703 134.551 268.688 136.402V137H258.422ZM250.02 129.934C251.52 129.934 252.902 129.605 254.168 128.949C255.434 128.27 256.371 127.367 256.98 126.242V119.703H253.184C248.098 119.703 245.391 121.461 245.062 124.977L245.027 125.574C245.027 126.84 245.473 127.883 246.363 128.703C247.254 129.523 248.473 129.934 250.02 129.934ZM275.508 132.008C275.508 130.391 276.047 129.078 277.125 128.07C278.227 127.062 279.598 126.559 281.238 126.559C282.902 126.559 284.273 127.062 285.352 128.07C286.453 129.078 287.004 130.391 287.004 132.008C287.004 133.602 286.465 134.902 285.387 135.91C284.309 136.895 282.926 137.387 281.238 137.387C279.574 137.387 278.203 136.895 277.125 135.91C276.047 134.902 275.508 133.602 275.508 132.008ZM12.7852 221H2.23828V169.812H12.7852V221ZM24.8438 185.527L20.0625 182.75C22.0781 179.586 23.1211 176.316 23.1914 172.941V167H31.2773V172.449C31.2773 174.559 30.6914 176.844 29.5195 179.305C28.3477 181.766 26.7891 183.84 24.8438 185.527ZM47.2734 182.961L47.5898 187.215C50.2852 183.91 53.9297 182.258 58.5234 182.258C63.4219 182.258 66.7852 184.191 68.6133 188.059C71.2852 184.191 75.0938 182.258 80.0391 182.258C84.1641 182.258 87.2344 183.465 89.25 185.879C91.2656 188.27 92.2734 191.879 92.2734 196.707V221H82.0781V196.742C82.0781 194.586 81.6562 193.016 80.8125 192.031C79.9688 191.023 78.4805 190.52 76.3477 190.52C73.3008 190.52 71.1914 191.973 70.0195 194.879L70.0547 221H59.8945V196.777C59.8945 194.574 59.4609 192.98 58.5938 191.996C57.7266 191.012 56.25 190.52 54.1641 190.52C51.2812 190.52 49.1953 191.715 47.9062 194.105V221H37.7461V182.961H47.2734ZM140.086 221C139.617 220.086 139.277 218.949 139.066 217.59C136.605 220.332 133.406 221.703 129.469 221.703C125.742 221.703 122.648 220.625 120.188 218.469C117.75 216.312 116.531 213.594 116.531 210.312C116.531 206.281 118.02 203.188 120.996 201.031C123.996 198.875 128.32 197.785 133.969 197.762H138.645V195.582C138.645 193.824 138.188 192.418 137.273 191.363C136.383 190.309 134.965 189.781 133.02 189.781C131.309 189.781 129.961 190.191 128.977 191.012C128.016 191.832 127.535 192.957 127.535 194.387H117.375C117.375 192.184 118.055 190.145 119.414 188.27C120.773 186.395 122.695 184.93 125.18 183.875C127.664 182.797 130.453 182.258 133.547 182.258C138.234 182.258 141.949 183.441 144.691 185.809C147.457 188.152 148.84 191.457 148.84 195.723V212.211C148.863 215.82 149.367 218.551 150.352 220.402V221H140.086ZM131.684 213.934C133.184 213.934 134.566 213.605 135.832 212.949C137.098 212.27 138.035 211.367 138.645 210.242V203.703H134.848C129.762 203.703 127.055 205.461 126.727 208.977L126.691 209.574C126.691 210.84 127.137 211.883 128.027 212.703C128.918 213.523 130.137 213.934 131.684 213.934ZM207.656 207.184L212.648 182.961H222.457L212.754 221H204.246L197.039 197.059L189.832 221H181.359L171.656 182.961H181.465L186.422 207.148L193.383 182.961H200.73L207.656 207.184ZM245.027 221.703C239.449 221.703 234.902 219.992 231.387 216.57C227.895 213.148 226.148 208.59 226.148 202.895V201.91C226.148 198.09 226.887 194.68 228.363 191.68C229.84 188.656 231.926 186.336 234.621 184.719C237.34 183.078 240.434 182.258 243.902 182.258C249.105 182.258 253.195 183.898 256.172 187.18C259.172 190.461 260.672 195.113 260.672 201.137V205.285H236.449C236.777 207.77 237.762 209.762 239.402 211.262C241.066 212.762 243.164 213.512 245.695 213.512C249.609 213.512 252.668 212.094 254.871 209.258L259.863 214.848C258.34 217.004 256.277 218.691 253.676 219.91C251.074 221.105 248.191 221.703 245.027 221.703ZM243.867 190.484C241.852 190.484 240.211 191.164 238.945 192.523C237.703 193.883 236.906 195.828 236.555 198.359H250.688V197.551C250.641 195.301 250.031 193.566 248.859 192.348C247.688 191.105 246.023 190.484 243.867 190.484ZM300.75 202.332C300.75 208.426 299.449 213.184 296.848 216.605C294.246 220.004 290.613 221.703 285.949 221.703C281.824 221.703 278.531 220.121 276.07 216.957L275.613 221H266.473V167H276.633V186.371C278.977 183.629 282.059 182.258 285.879 182.258C290.52 182.258 294.152 183.969 296.777 187.391C299.426 190.789 300.75 195.582 300.75 201.77V202.332ZM290.59 201.594C290.59 197.75 289.98 194.949 288.762 193.191C287.543 191.41 285.727 190.52 283.312 190.52C280.078 190.52 277.852 191.844 276.633 194.492V209.504C277.875 212.176 280.125 213.512 283.383 213.512C286.664 213.512 288.82 211.895 289.852 208.66C290.344 207.113 290.59 204.758 290.59 201.594ZM323.391 201.699C323.391 195.77 324.715 191.047 327.363 187.531C330.035 184.016 333.68 182.258 338.297 182.258C342 182.258 345.059 183.641 347.473 186.406V167H357.668V221H348.492L348 216.957C345.469 220.121 342.211 221.703 338.227 221.703C333.75 221.703 330.152 219.945 327.434 216.43C324.738 212.891 323.391 207.98 323.391 201.699ZM333.551 202.438C333.551 206 334.172 208.73 335.414 210.629C336.656 212.527 338.461 213.477 340.828 213.477C343.969 213.477 346.184 212.152 347.473 209.504V194.492C346.207 191.844 344.016 190.52 340.898 190.52C336 190.52 333.551 194.492 333.551 202.438ZM383.051 221.703C377.473 221.703 372.926 219.992 369.41 216.57C365.918 213.148 364.172 208.59 364.172 202.895V201.91C364.172 198.09 364.91 194.68 366.387 191.68C367.863 188.656 369.949 186.336 372.645 184.719C375.363 183.078 378.457 182.258 381.926 182.258C387.129 182.258 391.219 183.898 394.195 187.18C397.195 190.461 398.695 195.113 398.695 201.137V205.285H374.473C374.801 207.77 375.785 209.762 377.426 211.262C379.09 212.762 381.188 213.512 383.719 213.512C387.633 213.512 390.691 212.094 392.895 209.258L397.887 214.848C396.363 217.004 394.301 218.691 391.699 219.91C389.098 221.105 386.215 221.703 383.051 221.703ZM381.891 190.484C379.875 190.484 378.234 191.164 376.969 192.523C375.727 193.883 374.93 195.828 374.578 198.359H388.711V197.551C388.664 195.301 388.055 193.566 386.883 192.348C385.711 191.105 384.047 190.484 381.891 190.484ZM418.242 208.59L425.309 182.961H435.926L423.094 221H413.391L400.559 182.961H411.176L418.242 208.59ZM457.441 221.703C451.863 221.703 447.316 219.992 443.801 216.57C440.309 213.148 438.562 208.59 438.562 202.895V201.91C438.562 198.09 439.301 194.68 440.777 191.68C442.254 188.656 444.34 186.336 447.035 184.719C449.754 183.078 452.848 182.258 456.316 182.258C461.52 182.258 465.609 183.898 468.586 187.18C471.586 190.461 473.086 195.113 473.086 201.137V205.285H448.863C449.191 207.77 450.176 209.762 451.816 211.262C453.48 212.762 455.578 213.512 458.109 213.512C462.023 213.512 465.082 212.094 467.285 209.258L472.277 214.848C470.754 217.004 468.691 218.691 466.09 219.91C463.488 221.105 460.605 221.703 457.441 221.703ZM456.281 190.484C454.266 190.484 452.625 191.164 451.359 192.523C450.117 193.883 449.32 195.828 448.969 198.359H463.102V197.551C463.055 195.301 462.445 193.566 461.273 192.348C460.102 191.105 458.438 190.484 456.281 190.484ZM489.609 221H479.414V167H489.609V221ZM496.43 201.629C496.43 197.855 497.156 194.492 498.609 191.539C500.062 188.586 502.148 186.301 504.867 184.684C507.609 183.066 510.785 182.258 514.395 182.258C519.527 182.258 523.711 183.828 526.945 186.969C530.203 190.109 532.02 194.375 532.395 199.766L532.465 202.367C532.465 208.203 530.836 212.891 527.578 216.43C524.32 219.945 519.949 221.703 514.465 221.703C508.98 221.703 504.598 219.945 501.316 216.43C498.059 212.914 496.43 208.133 496.43 202.086V201.629ZM506.59 202.367C506.59 205.977 507.27 208.742 508.629 210.664C509.988 212.562 511.934 213.512 514.465 213.512C516.926 213.512 518.848 212.574 520.23 210.699C521.613 208.801 522.305 205.777 522.305 201.629C522.305 198.09 521.613 195.348 520.23 193.402C518.848 191.457 516.902 190.484 514.395 190.484C511.91 190.484 509.988 191.457 508.629 193.402C507.27 195.324 506.59 198.312 506.59 202.367ZM572.965 202.332C572.965 208.191 571.629 212.891 568.957 216.43C566.309 219.945 562.723 221.703 558.199 221.703C554.355 221.703 551.25 220.367 548.883 217.695V235.625H538.723V182.961H548.145L548.496 186.688C550.957 183.734 554.168 182.258 558.129 182.258C562.816 182.258 566.461 183.992 569.062 187.461C571.664 190.93 572.965 195.711 572.965 201.805V202.332ZM562.805 201.594C562.805 198.055 562.172 195.324 560.906 193.402C559.664 191.48 557.848 190.52 555.457 190.52C552.27 190.52 550.078 191.738 548.883 194.176V209.75C550.125 212.258 552.34 213.512 555.527 213.512C560.379 213.512 562.805 209.539 562.805 201.594ZM596.801 221.703C591.223 221.703 586.676 219.992 583.16 216.57C579.668 213.148 577.922 208.59 577.922 202.895V201.91C577.922 198.09 578.66 194.68 580.137 191.68C581.613 188.656 583.699 186.336 586.395 184.719C589.113 183.078 592.207 182.258 595.676 182.258C600.879 182.258 604.969 183.898 607.945 187.18C610.945 190.461 612.445 195.113 612.445 201.137V205.285H588.223C588.551 207.77 589.535 209.762 591.176 211.262C592.84 212.762 594.938 213.512 597.469 213.512C601.383 213.512 604.441 212.094 606.645 209.258L611.637 214.848C610.113 217.004 608.051 218.691 605.449 219.91C602.848 221.105 599.965 221.703 596.801 221.703ZM595.641 190.484C593.625 190.484 591.984 191.164 590.719 192.523C589.477 193.883 588.68 195.828 588.328 198.359H602.461V197.551C602.414 195.301 601.805 193.566 600.633 192.348C599.461 191.105 597.797 190.484 595.641 190.484ZM639.621 192.488C638.238 192.301 637.02 192.207 635.965 192.207C632.121 192.207 629.602 193.508 628.406 196.109V221H618.246V182.961H627.844L628.125 187.496C630.164 184.004 632.988 182.258 636.598 182.258C637.723 182.258 638.777 182.41 639.762 182.715L639.621 192.488ZM638.953 216.008C638.953 214.391 639.492 213.078 640.57 212.07C641.672 211.062 643.043 210.559 644.684 210.559C646.348 210.559 647.719 211.062 648.797 212.07C649.898 213.078 650.449 214.391 650.449 216.008C650.449 217.602 649.91 218.902 648.832 219.91C647.754 220.895 646.371 221.387 644.684 221.387C643.02 221.387 641.648 220.895 640.57 219.91C639.492 218.902 638.953 217.602 638.953 216.008Z"
        stroke="white"
        stroke-width="2"
      />
    </svg>

    <a id="aboutme" href="aboutme">About me /</a>
    <a id="projets" href="projets">Projets /</a>
    <a id="contact" href="contact">Contact /</a>
    <svg
      id="svg2"
      width="609"
      height="405"
      viewBox="0 0 609 405"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_f)">
        <path
          class="path2"
          d="M151 5H604V98M4 396C4 396 190.195 396 309.5 396M379.5 396C467.173 396 604 396 604 396V143.5"
          stroke="white"
          stroke-width="1.5"
        />
      </g>
      <g filter="url(#filter1_d)">
        <path
          class="path2"
          d="M151 5H604V98M4 396C4 396 190.195 396 309.5 396M379.5 396C467.173 396 604 396 604 396V143.5"
          stroke="white"
          stroke-width="1.5"
        />
      </g>
      <defs>
        <filter
          id="filter0_f"
          x="0"
          y="0.25"
          width="608.75"
          height="400.5"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur" />
        </filter>
        <filter
          id="filter1_d"
          x="0"
          y="4.25"
          width="608.75"
          height="400.5"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="2" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"
          />
          <feBlend
            mode="lighten"
            in2="BackgroundImageFix"
            result="effect1_dropShadow"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow"
            result="shape"
          />
        </filter>
      </defs>
    </svg>

    <img id="logo" src="/images/logo.png" alt="" />
    <img id="photo" src="/images/photoindex.png" alt="" />
  </body>
</html>
