   <form action="/users/dashboard" method="POST">
        <label for="titleinput">Titre</label> <input type="text" name="titleinput" id="titleinput"><br>
        <label for="descriptioninput">Description</label> <input type="text" name="descriptioninput" id="descriptioninput"><br>
        <label>Ajouter une image:</label>
        <input type="file" id="imageinput" name="imageinput" accept="image/png, image/jpeg"><br>
        <button>Envoyer</button>
    </form> 
